In [1]:
import pandas as pd

# 데이터 프레임 만들기
- 데이터 프레임을 만들 때는 pandas의 DataFrame()을 이용한다.(D와 F를 대문자로 입력해야 함)
- DataFrame()에 Dictionary 형태로 값이 들어감

In [2]:
df = pd.DataFrame({'name': ['고영민', '김다혜', '서준호', '강현'],
                  'korean': [100, 100, 90, 90],
                  'math': [80, 60, 90, 80]})

df

  name  korean  math
0  고영민     100    80
1  김다혜     100    60
2  서준호      90    90
3   강현      90    80

# 데이터 프레임으로 분석하기

In [3]:
df['math']

0    80
1    60
2    90
3    80
Name: math, dtype: int64

In [4]:
# 수학 점수 합계 구하기
sum(df['math'])

310

In [5]:
# 국어 점수 합계 구하기
sum(df['korean'])

380

In [6]:
# 수학 점수 평균 구하기
sum(df['math']) / 4

77.5

In [7]:
# 국어 점수 평균 구하기
sum(df['korean']) / 4

95.0

# 실습 ~ 데이터 프레임 만들고 평균 구하기

In [9]:
new_table = pd.DataFrame({'제품': ['사과', '딸기', '수박'],
                          '가격': [1800, 1500, 3000],
                          '판매량': [24, 38, 13]})
new_table

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [10]:
new_table['가격']

0    1800
1    1500
2    3000
Name: 가격, dtype: int64

In [11]:
sum(new_table['가격'])

6300

In [12]:
# 가격 평균
sum(new_table['가격'])/3

2100.0

In [13]:
# 판매량 평균
sum(new_table['판매량'])/3

25.0