# 데이터 프레임을 CSV 파일로 저장하기
- 저장할 때는 <b>read_csv('경로/파일명')</b>

In [1]:
import pandas as pd

df_midterm = pd.DataFrame({'korean': [90, 80, 60, 70],
                           'english': [50, 60, 100, 20],
                           'nclass': [1, 1, 2, 2]})

df_midterm

   korean  english  nclass
0      90       50       1
1      80       60       1
2      60      100       2
3      70       20       2

In [4]:
df_midterm.to_csv('./data/output_newdata.csv', index=False)

In [5]:
new_df = pd.read_csv('./data/output_newdata.csv')
new_df

   korean  english  nclass
0      90       50       1
1      80       60       1
2      60      100       2
3      70       20       2